<div class="jumbotron">
  <h1> Welcome to the MarketPlace</h1>
  <p> The Largest MarketPlace for all your needs. All the items here are hand made well not the printing </p>
  <%= link_to "Products", products_path, class:"btn btn-primary btn-lg" %>
  <%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary btn-lg" %>
</div>
<div class="row">
  <%= render @products %>

</div>
